@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url('http://www.freechristmaswallpapers.net/web/wallpapers/thumbnail/Winter-Christmas-Background_lg.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

mat-table, mat-card{
  opacity: 0.9;   
}

#page{
  background-color: white;
  opacity: 0.9;
}
