body {
    margin: 0px;
    line-height: 1.5;
    background-color:	#F5F5F5;
  }
  
header {
    text-align: center;
  }
  
  main {
    max-width: 100%;
    margin: auto;
    padding: 0px, 20px;
  }

  /* img {
    max-width: 100%;
  } */
  
  h1 {
   font-family: 'Play';

   
  } 

  footer {
    color:#212121;
    font-family: 'Open Sans';
    padding: 20px;
    text-align: center;
    margin-top: 60px
  }
  
  mat-list-item {
    font-family: 'Chathura';
  }
  
  #edit-btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    position:absolute;
    transition: .5s ease;
    top: 14.5%;
    left: 17%;
  }

   #edit-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
   
