<div class="container">
  <h2>{{item.productName}}</h2>
  <br/>
  <div class="row">
    <div class="col-lg-4"><img src="{{item.pictureUrl}}" class="detail-img"/></div>
    <div class="col-lg-6"><p class="detail-text">{{item.description}}</p></div>
    <div class="col-lg-2">
      <button *ngIf="item.statusId === 1" class="btn btn-info" (click)="addItemToCart(item)">Add To Cart</button>
    </div>
  </div>
</div>
<div>
  <h2>Seller Review</h2>
  <br/>
  <mat-list>
    <mat-list-item *ngFor="let comm of comment">
      <h3 matLine>{{comm.buyerId.name}}</h3>
      <p matLine>{{comm.rating}}</p>
      <p matLine>{{comm.userReview}}</p>
    </mat-list-item>
  </mat-list>
</div>
