<!--<div class="container">-->
  <!--<h2>Your Items</h2>-->
  <!--<br/>-->
  <!--<div class="btn-group" role="group" aria-label="...">-->
    <!--<button type="button" class="btn btn-default" (click)="findOwn()">All Items</button>-->
    <!--<button type="button" class="btn btn-default" (click)="findOwnPending()">All Sold Items</button>-->
    <!--<button type="button" class="btn btn-default" (click)="findOwnResolved()">All Unsold Items</button>-->
  <!--</div>-->
  <!--<table class="table table-hover">-->
    <!--<thead>-->
    <!--&lt;!&ndash;price: number;&ndash;&gt;-->
    <!--&lt;!&ndash;productName: string;&ndash;&gt;-->
    <!--&lt;!&ndash;status: number;&ndash;&gt;-->
    <!--&lt;!&ndash;time: Date;&ndash;&gt;-->
    <!--<tr>-->
      <!--<th>Product Name:</th>-->
      <!--<th>Price:</th>-->
      <!--&lt;!&ndash;<th *ngIf="auth.getEmployee().title === 'Manager'">Resolved By:</th>&ndash;&gt;-->
      <!--<th>Date:</th>-->
      <!--<th>Status:</th>-->
      <!--&lt;!&ndash;if for sell allow to cancel, if sold allow to view buyer&ndash;&gt;-->
      <!--&lt;!&ndash;<th *ngIf="auth.getEmployee().title === 'Manager'">Action:</th>&ndash;&gt;-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let reimbursement of reimbursements">-->
      <!--<td>{{reimbursement.amount}}</td>-->
      <!--<td>{{getTypes(reimbursement.reimbType)}}</td>-->
      <!--<td>{{reimbursement.reason}}</td>-->
      <!--<td>{{getStatus(reimbursement.reimbStatus)}}</td>-->

      <!--&lt;!&ndash;<td *ngIf="auth.getEmployee().title === 'Manager' && reimbursement.reimbStatus === 1">&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="approve(reimbursement.reimbursementId)">Approve</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="deny(reimbursement.reimbursementId)">Deny</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
<div class="container">
  <h2>My Items</h2>
  <mat-form-field>
    <mat-select [(value)]="selected" >
      <!--<mat-option>None</mat-option>-->
      <mat-option value="option1" (click)="getAllItem()">View All Items</mat-option>
      <mat-option value="option2" (click)="getAllSellItem()">View All Selling</mat-option>
      <mat-option value="option3" (click)="getAllSoldItem()">View All Sold</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef class="image"> Image </mat-header-cell>
        <mat-cell *matCellDef="let row" class="image"> <img src="{{row.pictureUrl}}"/> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="productName"> Product Name </mat-header-cell>
        <mat-cell *matCellDef="let row" class="productName"> {{row.productName}} </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="description">-->
        <!--<mat-header-cell *matHeaderCellDef class="description"> Description </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let row" class="description"> {{row.description}} </mat-cell>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="price"> Price </mat-header-cell>
        <mat-cell *matCellDef="let row" class="price"> ${{row.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef class="time"> Date </mat-header-cell>
        <mat-cell *matCellDef="let row" class="time"> {{row.timeToSell | date: "medium"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="action"> Action </mat-header-cell>
        <mat-cell *matCellDef="let row" class="action">
          <div>
          <button mat-raised-button *ngIf="row.statusId === 1" class="btn btn-primary update-btn" (click)="openUpdateDialog(row)">Update</button>
          <button mat-raised-button *ngIf="row.statusId === 1" class="btn btn-warning" (click)="openCancelDialog(row)">Cancel</button>
          </div>
          <button mat-raised-button *ngIf="row.statusId === 2" class="btn btn-info" (click)="viewBuyer(row.buyerId)">View Buyer</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
