img {
  width: 150px;
}
.image{
  flex: 0 0 200px;
}
.productName{
  flex: 0 0 520px;
}
.price{
  flex: 0 0 100px;
}
.time{
  flex: 0 0 130px;
}
.action{
  flex: 0 0 100px;
}
.update-btn {
  margin-bottom: 5px;
}
.update-form {
  width: 500px;
}
