<body>
    <header>
       <!-- <img src=""> -->
       </header>
       <main>
         <br/>
         <br/>
         <br/>
         <div class="container">
           <app-alert></app-alert>
           <form class="example-form">
             <div class="example-container">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" value="Sushi">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" value="Sushi">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                      <input matInput placeholder="Phone" value="Sushi">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Street" value="Sushi">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="City" value="Sushi">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="State" value="Sushi">
                </mat-form-field>
                <br>
                <button id="btn" mat-button color="primary" (click)="updateUser()">Update</button>
                <button id="btn" mat-button color="primary" (click)="cancel()">Cancel</button>                
             </div>
           </form>
         </div>  
       </main>
       <footer> &copy; 2017, Nozama.com</footer>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
         