body {
    background-image: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapers9.org%2Fwp-content%2Fuploads%2F2015%2F12%2F2015-Christmas-background-hd.jpg&f=1");
    line-height: 1.5; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 5%;
  }

  #content {
    position: relative;
    z-index: 1;
  } 
  

header {
    text-align: center;
  }
  
  main {
    max-width: 100%;
    margin: auto;
    padding: 0px, 20px;
   
  }

  h1 {
   font-family: 'Play';
  } 

  #btn{
    font-family: 'Times New Roman', Times, serif;
    color: red;
  }

   #btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
   
.example-container{
  font-size: large;
  /* color: #FF0000; */

}


