<div class="container">
  <h1>Sign Up</h1>
  <form class="example-form">
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Enter Name" [(ngModel)]="value"/>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>

    </mat-form-field>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email"  required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <button class btn btn-submit>Submit</button>
    </div>
  </form>
       <!-- <div>
       <div>
      <label for="name">Name: </label><br>
      <input type="text" [(ngModel)] ="userModel.name" name="name" required>
      </div> 
       <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
       -->
      
      <!-- <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div> -->
      
       <!-- <div>
        <label for="age">Date of Birth: </label><br>
        <input type="date" [(ngModel)] ="userModel.age" name="name" required>
      </div>
      <div>
          <label for="email">Email: </label><br>
          <input type="text" [(ngModel)] ="userModel.email" name="name" required>
        </div>
            <div>
                <label for="phone">Phone: </label><br>
                <input type="text" [(ngModel)] ="userModel.phone" name="name" required>
            </div>
            <br>
            <button type="submit" class ="btn btn-success" (click)="onSubmit">Submit</button> 
    </div>
  </form>-->
</div>