body {
    background-color: #F5F5F5; 
    margin: 0px;
    line-height: 1.5;
    /* background-image: url("http://bashooka.com/wp-content/uploads/2012/04/patterns_4.jpg"); */
  }

header {
    text-align: center;
  }
  
  main {
    /* max-width: 800px; */
    margin: auto;
    padding: 0px, 20px;
  }

  img {
    max-width: 100%;
  }


  h1 {
   font-family: 'Play';
  } 

  footer {
    color: 	#212121;
    background-color: #F5F5F5;
    padding: 20px;
    text-align: center;
    margin-top: 60px
  }

  #btn{
    font-family: 'Times New Roman', Times, serif;
    background-color: #F5F5F5;
    
  }
  
  #btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }