<div class="w3-content w3-display-container">
  <img class="mySlides" src="https://s3.us-east-2.amazonaws.com/jeffrey-wu-test/xmas+FB+banner.jpg" style="width:100%" *ngIf="slideIndex == 1">
  <img class="mySlides" src="https://s3.us-east-2.amazonaws.com/jeffrey-wu-test/240_F_96598215_oTVm7yv5IOeyqKarU6nz2mweBARwNIJ2.jpg" style="width:100%" *ngIf="slideIndex == 2">
  <img class="mySlides" src="https://s3.us-east-2.amazonaws.com/jeffrey-wu-test/Screen+Shot+2017-12-05+at+4.58.21+PM.png" style="width:100%" *ngIf="slideIndex == 3">
  <img class="mySlides" src="https://s3.us-east-2.amazonaws.com/jeffrey-wu-test/Screen+Shot+2017-12-05+at+4.53.44+PM.png" style="width:100%" *ngIf="slideIndex == 4">

  <!--<button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>-->
  <!--<button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>-->
</div>
