 body {
    margin: 0px;
    line-height: 1.5;
    background-color:	#F5F5F5;
  }
  
header {
    text-align: center;
  }

  main {
    max-width: 800px;
    margin: auto;
    padding: 0px, 20px;
  } 

  img {
    max-width: 100%;
  }
  
  h1 {
   font-family: 'Play';
   
  } 

  footer {
    color: #212121;
    font-family: 'Open Sans';
    background-color:	#F5F5F5;
    padding: 20px;
    text-align: center;
    margin-top: 60px
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }