 body {
    margin: 0px;
    line-height: 1.5;
    background-color:	#F5F5F5;
  }
  
header {
    text-align: center;
  }
/*   
  main {
    max-width: 800px;
    margin: auto;
    padding: 0px, 20px;
  } */

  img {
    max-width: 100%;
  }
  
  h1 {
   font-family: 'Play';
   
  } 

  footer {
    color: #FFA812;
    font-family: 'Open Sans';
    background-color:	#69359C;
    padding: 20px;
    text-align: center;
    margin-top: 60px
  }
  
  mat-list-item {
    font-family: 'Chathura';
  }
   

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}